body {
	background: darkred;
	font-family: sans-serif;
	color: white;
}

.mosaic {
	position: relative;
	top: 20px;
	left: 20px;
}

.mosaicRow {
	position: absolute;
}

.mosaicRow_0 {
	top: -250px;
	opacity: 0;
}

.mosaicRow_1 {
	top: 0;
}

.mosaicRow_2 {
	top: 250px;
}

.mosaicRow_3 {
	top: 500px;
}

.mosaicRow_4 {
	top: 750px;
	opacity: 0;
}

.mosaicItem {
	position: absolute;
}

.mosaicItem_0 {
	left: -360px;
	opacity: 0;
}

.mosaicItem_1 {
	left: 0;
}

.mosaicItem_2 {
	left: 360px;
}

.mosaicItem_3 {
	left: 720px;
}

.mosaicItem_4 {
	left: 1080px;
	opacity: 0;
}

.mosaicItem img {
	-webkit-box-shadow: 10px 10px 8px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 8px 1px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 8px 1px rgba(0,0,0,0.5);
}

.highlighted img {
	-webkit-box-shadow: 11px 11px 8px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 11px 8px 3px rgba(0,0,0,0.75);
	box-shadow: 11px 11px 8px 3px rgba(0,0,0,0.75);
}

.highlighted p {
	font-weight: bold;
}